<div  [ngClass]="type" class="container main">

    <div class="row" [ngClass]="{'justify-content-end' :type=='in'}" >

            <div class="message">{{messageData.content}}</div>

            <a  [ngClass]="{'justify-content-end' :type=='in'}" class="row "[href]="messageData.content" *ngIf="metaOgImage" >
                <img class="link-preview-img" *ngIf="metaOgImage" [src]="metaOgImage"  alt="avatar" >
            </a>
   
            
            <div class="row link-preview-info">
                <div class="col-12">
                    <h6 *ngIf="LinkDomainName" >{{LinkDomainName}}</h6>
                </div>
                <div class="col-12">
                    <h6 *ngIf="metaOgTitle" >{{metaOgTitle}}</h6>
                </div>
            </div>

    </div>

    <div class="row"  [ngClass]="{'justify-content-end' :type=='in'}" > 
        <div class="message-data">
            <span class="message-data-time">{{messageData.time}}</span>
        </div>
    </div>

</div>
    